[Unit]
Description=MAVLink-Router
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
ExecStart=/home/imav2024/tucan-systemd-startup/mavlink_router.sh
Restart=on-failure
User=imav2024

[Install]
WantedBy=multi-user.target
