[Unit]
Description=Zenoh DDS Bridge
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
ExecStartPre=/bin/sleep 15
ExecStart=/home/orangepi/tucan-systemd-startup/zenoh_bridge.sh
Restart=on-failure
User=orangepi

[Install]
WantedBy=multi-user.target
